*{
    font-family:'Nunito';
}

nav{
    font-weight: 300;
}

.btn-nav{
    background: white;
    border: white;
}

.footer{
    background-color: #999790;    
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* .container-pcmodel {
    padding-top: 10rem;
    margin-bottom: 10rem;
} */

/* body{
    background-color: #F6F6F6;
} */


